body {
  background-color: #282c34;
}
.songs-container {
  display: block;
  justify-content: center;
  text-align: center;
}

.songs-container h1 {
  margin-top: 1em;
  color: #61dafb;
  font-size: 2.5em;
  font-family: 'Helvetica', sans-serif;

}

.songs-list {
  padding: 2em;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  position: relative;
}

.song {
  text-transform: capitalize;
  color: #fff;
  font-size: 1em;
}

.song a {
  text-decoration: none;
  text-transform: capitalize;
  color: #fff;
  font-size: 1.2em;
}

.song a:hover {
  /* text-decoration: underline; */
  color: #61dafb;
}

.song img {
  border: solid 1.5px #61dafb;
}

/* .song img:hover {
  opacity: 0.7;
} */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
